@using System.Reactive
@using System.Reactive.Linq
@using System.Diagnostics
@page "/"
@implements IDisposable
@inject System.Reactive.Subjects.Subject<int> _subject

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>@_message</p>

@code{
    private string _message = "";
    private IDisposable? _disposable;

    protected override void OnInitialized()
    {
        _disposable = _subject.ObserveOn(SynchronizationContext.Current!)
            .Subscribe(x =>
            {
                _message = $"誰かがカウント押した: {x}";
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        Debug.WriteLine("Dispose!!");
        _disposable?.Dispose();
    }

}